<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Madhav Unplugged</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+WyEQD0Jwx2vRYjiif4I2lcXvP5Sl9HTo0M" crossorigin="anonymous">
  <!-- Include Font Awesome for social media icons (if not already included) -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-K4sofOnhRHtgoRv9l9FtUk6M6l8pxxkT3ux9BukTj5gIhZwrMOc9IJYKl8GRwT0xjzCC73XW6fK0xR1oLw8rsRg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<!-- footer.ejs -->
<footer class="footer mt-auto py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p>&copy; 2023 Madhav Unplugged</p>
        </div>
        <div class="col-md-6 text-right">
          <!-- Social Media Icons -->
          <a href="https://twitter.com/your_twitter_handle" target="_blank"><i class="fab fa-twitter"></i></a>
          <a href="https://instagram.com/your_instagram_handle" target="_blank"><i class="fab fa-instagram"></i></a>
          <a href="https://linkedin.com/in/your_linkedin_profile" target="_blank"><i class="fab fa-linkedin"></i></a>
          <a href="https://facebook.com/your_facebook_page" target="_blank"><i class="fab fa-facebook"></i></a>
          <a href="https://youtube.com/your_youtube_channel" target="_blank"><i class="fab fa-youtube"></i></a>
        </div>
      </div>
    </div>
  </footer>
  